footer{
    display: flex;
    div{
        width: 18.75rem;
        height: 18.75rem;
        &:nth-child(1){
            background-color: blue;
        }
        &:nth-child(2){
            background-color: red;
    
        }
        &:nth-child(3){
            background-color: yellow;
        }
    }
}